canvas.game {
	cursor: none;
	border:1px solid black;
	background: white;
}

canvas.editor {
	border:1px solid black;
	background: white;
	margin: auto;
}


div.sidebar {
	-webkit-transform: rotate(90deg) translateX(337px) translateY(-265px);
	-moz-transform: rotate(90deg) translateX(337px) translateY(-265px);
	transform: rotate(90deg) translateX(337px) translateY(-265px);
	float: right;
	width: 630px;
	height: 20px;
	border: 1px solid #000;
	background: #fff;
	padding: 5px;
	text-align: left;
	font-size: 14pt;
	span.highlight {
		font-size: 16pt;
		font-weight: bold;
	}
	span {
		padding-left: 10px;
		padding-right: 10px;
	}
}
