div.ewrapper {
	width: 1014px;
	height: 602px;
	position: relative;
	margin: auto;
	div.context {
		position: absolute;
		width: 100px;
		display: block;
		background : white;
		border: 1px solid black;
		min-height: 10px;
		div.entry {
			width: 100px;
			display:block;
		}
		div.entry:hover {
			background: #CCDAFF;
		}
	}
	div.properties  {
		position: absolute;
		width: 580px;
		left: 100px;
		top: 50px;
		background : white;
		border: 1px solid black;
		text-align: left;
		padding: 10px;
		
	}
	div.eside {
		text-align: left;
		width : 180px;
		height: 580px;
		border: 1px solid black;
		padding: 10px;
		margin-left: 10px;
		background: white;
		float: left;
		div.elem {
			div.id {
				height: 16px;
				display: block;
				float: left;
				min-width: 20px;
				border: 1px solid black;
				text-align: right;
				padding-left: 5px;
				padding-right: 5px;
			}
			div.object {
				background-color: lightblue;
			}
			div.logic {
				background-color: lightgreen;
			}
		}
	}
}



