@menu_locked: rgb(190, 190, 190);
@menu_unlocked: rgb(255, 255, 255);
@menu_hover: rgb(220, 220, 255);

div.list { 
	div.locked {
		border-color: @menu_locked;
		div.content {
			background-image: -webkit-linear-gradient(bottom, fade(@menu_locked, 60%), fade(@menu_locked, 100%)); 
			background-image: -moz-linear-gradient(bottom, fade(@menu_locked, 60%), fade(@menu_locked, 100%)); 
			background-image: linear-gradient(bottom, fade(@menu_locked, 60%), fade(@menu_locked, 100%)); 
		}
	}
	div.unlocked {
		border-color: @menu_unlocked;
		div.content {
			background-image: -webkit-linear-gradient(bottom, fade(@menu_unlocked, 60%), fade(@menu_unlocked, 100%)); 
			background-image: -moz-linear-gradient(bottom, fade(@menu_unlocked, 60%), fade(@menu_unlocked, 100%)); 
			background-image: linear-gradient(bottom, fade(@menu_unlocked, 60%), fade(@menu_unlocked, 100%)); 
		}
	}
	div.unlocked:hover {
		border-color: @menu_hover;
		div.content {
			background-image: -webkit-linear-gradient(bottom, fade(@menu_hover, 60%), fade(@menu_hover, 100%)); 
			background-image: -moz-linear-gradient(bottom, fade(@menu_hover, 60%), fade(@menu_hover, 100%)); 
			background-image: linear-gradient(bottom, fade(@menu_hover, 60%), fade(@menu_hover, 100%)); 
		}
	}
	div.container {
		width: 325px;
		height: 100px;
		margin-bottom: 5px;
		border-top-width: 0px;
		border-bottom-width: 0px;
		border-left-width: 0;
		border-right-width: 0;
		border-style: solid;
		margin-right: 5px;
		float: left;
		div.content {
			float:left;
			height: 100px;
			overflow: hidden;
			padding: 0px;
			width: 325px;
			text-align: left;
			img {
				float : left;
				margin: 10px;
				margin-right: 25px;
			}
			h1 {
				font-size: 15pt;
				color: black;
				background: none;
				height: 15pt;
				margin-bottom: 5px;
			}
			p {
				color: black;
				font-size: 12pt;
				margin-top: 0;
			}
		}
	}
}
