@import "menu.less";
@import "josefinesans.less";
@import "canvas.less";
@import "editor.less";

@header: rgb(80, 80, 255);

div.wrapper {
	width: 1000px;
	margin:auto;
}

body {
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	font-family:josefin_sansregular;
	background-image: url('img/background.png');
	background-attachment: fixed;
	background-repeat: repeat;
}

h1 {
	width: 100%;
	background-image: -webkit-linear-gradient(bottom, fade(white, 60%), fade(white, 100%)); 
	background-image: -moz-linear-gradient(bottom, fade(white, 60%), fade(white, 100%)); 
	background-image: linear-gradient(bottom, fade(white, 60%), fade(white, 100%)); 
	color: black;
	height: 50px;
	font-size: 30pt;
}
