@import "menu.less";
@import "josefinesans.less";
@import "canvas.less";

@header: rgb(80, 80, 255);

div.wrapper {
	width: 1000px;
	margin:auto;
}

body {
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	font-family:josefin_sansregular;
	background-image: url('img/background.png');
	background-attachment: fixed;
	background-size: 100%;
	background-repeat:no-repeat;
	background-position: center center;
}

h1 {
	width: 100%;
	background-image: -webkit-linear-gradient(bottom, fade(@header, 0%), fade(@header, 50%)); 
	color: white;
	height: 50px;
	font-size: 30pt;
}
